body
{
	margin: 0;
	font-family: Helvitic, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header
{
	background-color: teal;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;

}

h1, h2
{
	font-family: 'Rowdies', cursive;
}

header h1
{
	color: white;

}
header img
{
	border-radius: 140px;
	width: 255px;
	border: 10px solid white;

}

main
{
	
	max-width: 800px;
	margin:0 auto;
	padding: 20 20px 20px 20px;
}

main img
{
	max-width: 100%;

}

h2
{
	margin: 40px 0 10px 0;
	font-size: 35px;
	color: teal;

}

a
{
	color: teal;
}

a:hover
{
	color: white;
	background-color: greem;
	opacity: 0.9

}

footer
{
	background-color: teal;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 20px;
	color:white;
}

footer p
{
	margin: 0;

}

p.caption
{
	color: blue;
	text-align: center;
	font-style: italic;
	font-size: 10px;
	margin-top: 0;
}

